<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="sheet">
  <div class="cover left">
    <img class=cover src="back.jpg">
  </div>
  <div class="cover right">
    <img class=cover src="cover.jpg">
  </div>
</div>

{% for i in photos[::2] %}
<div class="sheet">
  <div class="page left">
    <img class=photo src="{{ photos[loop.index0 * 2] }} ">
  </div>
  <div class="page right">
    <img class=photo src="{{ photos[loop.index0 * 2 + 1] }}">
  </div>
</div>
{% endfor %}

</body>
</html>
